.bbb {
    position: -webkit-sticky;
    position: sticky;
    bottom: 1rem;
    align-self: flex-end;
    
   
}

.btn-light {
    background-color: rgba(255, 255, 255, 0.589);
    backdrop-filter: saturate(180%) blur(20px);
}